<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astro Cupcakes</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/stylesheet.css">
</head>
<body>
    
    <header class="title">
        <h1>Cosmic Cupcakes</h1>
        <nav>
            <a href="{{url_for('home')}}">Home</a>
            <a href="{{url_for('all_cupcakes')}}">View All Cupcakes</a>
            <a href="{{url_for('order')}}">View Active Order</a>
        </nav>
    </header>

    {% block content %}
    
    {% endblock %}

    <div class="stars"></div>
    
    <div class="twinkling"></div>
</body>
</html>